html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  weight: 100%;
  min-height: 100%;
}

.mainContainer {
  margin-left: 40%;
  widhth: 100%;
  height: 100%;

}

imageContainer {
}

.container1 {
  margin-left: 25%;
  margin-top: 10%;
}

.back__div {
  margin-top: 5%;
  display: flex;
}

.contactInfo {
  margin-top: 7%;
  margin-left: 15px;
}
