<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1 style="font-size: 50px;text-align: center">Testez spring boot-ul</h1>


<a th:href="hello">Click me!! </a>
</body>
</html>