<html>
<head>
    <title>DBConnect</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <style>
        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
        }
        .footer-copyright {
            background-color:#004883;
            color: white;
        }
        .select-option {
            height: 10%;
            width : 20%;
            margin-left: 100px;
            margin-top: 100px;
        }

    </style>

    <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
        <option class='option' *ngFor='let option of options' [value]="option">{{option1}}</option>
        <option class='option' *ngFor='let option of options' [value]="option">{{option2}}</option>
    </select>

    <script type="text/javascript">
        FusionCharts.ready(function(){
            var fusioncharts = new FusionCharts({
                type: 'mscombidy2d',
                renderAt: 'chart-container',
                width: '600',
                height: '300',
                dataFormat: 'json',
                dataSource: {
                    "chart": {
                        "caption": "Revenues and Profits",
                        "subCaption": "For last year",
                        "xAxisname": "Month",
                        "pYAxisName": "Amount (In USD)",
                        "sYAxisName": "Profit %",
                        "numberPrefix": "$",
                        "sNumberSuffix": "%",
                        "sYAxisMaxValue": "50",

                        //Cosmetics
                        "paletteColors": "#0075c2,#1aaf5d,#f2c500",
                        "baseFontColor": "#333333",
                        "baseFont": "Helvetica Neue,Arial",
                        "captionFontSize": "14",
                        "subcaptionFontSize": "14",
                        "subcaptionFontBold": "0",
                        "showBorder": "0",
                        "bgColor": "#ffffff",
                        "showShadow": "0",
                        "canvasBgColor": "#ffffff",
                        "canvasBorderAlpha": "0",
                        "divlineAlpha": "100",
                        "divlineColor": "#999999",
                        "divlineThickness": "1",
                        "divLineIsDashed": "1",
                        "divLineDashLen": "1",
                        "divLineGapLen": "1",
                        "usePlotGradientColor": "0",
                        "showplotborder": "0",
                        "showXAxisLine": "1",
                        "xAxisLineThickness": "1",
                        "xAxisLineColor": "#999999",
                        "showAlternateHGridColor": "0",
                        "showAlternateVGridColor": "0",
                        "legendBgAlpha": "0",
                        "legendBorderAlpha": "0",
                        "legendShadow": "0",
                        "legendItemFontSize": "10",
                        "legendItemFontColor": "#666666"
                    },
                    "categories": [{
                        "category": [{
                            "label": "Jan"
                        },
                            {
                                "label": "Feb"
                            },
                            {
                                "label": "Mar"
                            },
                            {
                                "label": "Apr"
                            },
                            {
                                "label": "May"
                            },
                            {
                                "label": "Jun"
                            },
                            {
                                "label": "Jul"
                            },
                            {
                                "label": "Aug"
                            },
                            {
                                "label": "Sep"
                            },
                            {
                                "label": "Oct"
                            },
                            {
                                "label": "Nov"
                            },
                            {
                                "label": "Dec"
                            }
                        ]
                    }],
                    "dataset": [{
                        "seriesName": "Revenues",
                        "data": [{
                            "value": "16000"
                        },
                            {
                                "value": "20000"
                            },
                            {
                                "value": "18000"
                            },
                            {
                                "value": "19000"
                            },
                            {
                                "value": "15000"
                            },
                            {
                                "value": "21000"
                            },
                            {
                                "value": "16000"
                            },
                            {
                                "value": "20000"
                            },
                            {
                                "value": "17000"
                            },
                            {
                                "value": "22000"
                            },
                            {
                                "value": "19000"
                            },
                            {
                                "value": "23000"
                            }
                        ]
                    },
                        {
                            "seriesName": "Profits",
                            "renderAs": "area",
                            "showValues": "0",
                            "data": [{
                                "value": "4000"
                            },
                                {
                                    "value": "5000"
                                },
                                {
                                    "value": "3000"
                                },
                                {
                                    "value": "4000"
                                },
                                {
                                    "value": "1000"
                                },
                                {
                                    "value": "7000"
                                },
                                {
                                    "value": "1000"
                                },
                                {
                                    "value": "4000"
                                },
                                {
                                    "value": "1000"
                                },
                                {
                                    "value": "8000"
                                },
                                {
                                    "value": "2000"
                                },
                                {
                                    "value": "7000"
                                }
                            ]
                        },
                        {
                            "seriesName": "Profit %",
                            "parentYAxis": "S",
                            "renderAs": "line",
                            "showValues": "0",
                            "data": [{
                                "value": "25"
                            },
                                {
                                    "value": "25"
                                },
                                {
                                    "value": "16.66"
                                },
                                {
                                    "value": "21.05"
                                },
                                {
                                    "value": "6.66"
                                },
                                {
                                    "value": "33.33"
                                },
                                {
                                    "value": "6.25"
                                },
                                {
                                    "value": "25"
                                },
                                {
                                    "value": "5.88"
                                },
                                {
                                    "value": "36.36"
                                },
                                {
                                    "value": "10.52"
                                },
                                {
                                    "value": "30.43"
                                }
                            ]
                        }
                    ]
                }
            });
            fusioncharts.render();
        });
    </script>

</head>
<body>
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div id="chart-container">FusionCharts XT will load here!</div>

<!--Footer-->
<footer class="footer ">
    <div class="footer-copyright py-5  dark text-center">
        © 2018 Copyright: DBConnect.com
    </div>
</footer>
<!--/.Footer-->
</body>
</html>