/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

svg > text {
  font-size: 1px;
}

svg:host(text) {
  font-size: 1px;
}

span.fusioncharts-container {
  font-size: 1px;
}
