<!DOCTYPE html>
<html lang="en">
<head>
  <title>DBConnect</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">

</head>
<body>
<ngx-alerts></ngx-alerts>

<div class="flex-container" >
<!-- calendar -->

<div class="row" >
  <div class="col-md-12 col-12 col-md-4 form-group theme-dark-blue">
    <input #dateCalendar id="txtDate"
           class="form-control"
           #dp="bsDatepicker"
           bsDatepicker
           placeholder="Pick a date"
           [bsConfig]="bsConfig">
  </div>
  <div class="col-xs-12 col-12 col-md-3 form-group">
    <button type="button" class="btn culoare-buton"
            (click)="getOrarEventsByDate(dateCalendar.value)" [attr.aria-expanded]="dp.isOpen">Show events
    </button>
  </div>
</div>
<!--Token-->
<div class="row" >

  <div class="col-md-12 col-12 col-md-4 form-group theme-dark-blue">
    <input #code type="password" id="ssn" class="form-control" size="14"
           pattern="[0-9a-fA-F]{14}" placeholder="Put your code"
           maxlength="14">
  </div>
  <div class="col-xs-12 col-12 col-md-3 form-group">
    <button type="button" class="btn culoare-buton"
            (click)="getOrarEventsByCode(code.value)" [attr.aria-expanded]="dp.isOpen">Edit events
    </button>
  </div>

</div>

<!--Legenda culori-->
<ul class="legend">
  <li><span class="darkgreen"></span> Waterfall room</li>
  <li><span class="green"></span> Agile room</li>
  <li><span class="blue"></span> Both rooms</li>
</ul>
</div>


<!--tabel evenimente-->
<table class="table table-bordered">
  <thead class="tablecell thead-dark">
  <th>Hour</th>
  <th>Agile</th>
  <th>Waterfall</th>
  <th>Operation</th>
  </thead>
  <tbody>
  <tr class="tabelcell" *ngFor="let orarEvent of orarEvents">
    <td class="hour">{{orarEvent.hour}}</td>
    <td
      [ngClass]="{'green ': orarEvent.agile, 'blue': (orarEvent.agileEventId == orarEvent.wateEventId && orarEvent.agileEventId!=null),
                  'white' : !orarEvent.agile, 'delete': (orarEvent.deleteAgile && buttonIsClicked==true)} ">
      {{orarEvent.agileEventName}}
    </td>
    <td
      [ngClass]="{'darkgreen ': orarEvent.waterfall,  'blue': (orarEvent.wateEventId == orarEvent.agileEventId && orarEvent.agileEventId!=null),
                  'white' : !orarEvent.waterfall, 'delete':(orarEvent.deleteWaterfall && buttonIsClicked==true)} ">
      {{orarEvent.waterfallEventName}}
    </td>

    <td>
      <button class="delete-buton" type="button"
              *ngIf="(( orarEvent.deleteAgile || orarEvent.deleteWaterfall) &&(orarEvent.agileEventName!=null || orarEvent.waterfallEventName!=null ))"
              class="btn btn-danger" (click)="deleteEvent()">Delete
      </button>
    </td>

  </tr>
  </tbody>
</table>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css">

<!-- <script>
$(document).ready(function(){
  let date_input = $('input[name="date"]'); //our date input has the name "date"
  let container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
  date_input.datepicker({
    format: 'mm/dd/yyyy',
    container: container,
    todayHighlight: true,
    autoclose: true,
  })
})
</script> -->
<script>
  $(function () {
    $('txtDate').bsDatepicker({
      beforeShowDay: $.datepicker.noWeekends
    });
  });

</script>

</body>
</html>




