.culoare-buton
{
    color:#F0EBD8;
    background-color: #001049;
    border-color: #001049;
}

.table{
    margin-top: 50px;
  margin-bottom: 150px;
  text-align: center;

}
.tabelcell{

  color:white;
}
.green{
  background-color: seagreen;
}
.white{
  background-color: white;
}

.darkgreen{
  background-color: forestgreen;
}
.blue{
  background-color: darkcyan;
  border-left-style: hidden;
}
.hour{
  color:black;
}

.footer {
  position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.delete-buton {
  visibility: hidden;
}

.delete {
  background-color: white;
}

.legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 10px;
  list-style: none;
}

.legend li {
  float: left;
  margin-right: 10px;
}

.legend span {
  border: 1px solid #ccc;
  float: left;
  width: 20px;
  height: 20px;
  margin: 2px;
}
.flex-container
{
  margin: 100px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.nav-list
{

}
.nav-list-ul
{
  flex-direction: row;
}

@media screen and (max-width: 1000px) {
  .flex-container
  {
    margin: 100px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

  }
  .nav-list
  {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

}





