.navigare
{
    background-color: #001049;
    /* Sau 
    BLACK : #020202
    EERIE BLACK : #181F1C
    BEIGE : #F5F7DC
    DARK TERRA COTTA: #DB5461
    RICH BLACK : #0E0004
    ONYX: #36393B
    CHARCOAL: #313E50
    BURLYWOOD: #D7BE82
    DARK-VANILLA: #D3B99F
    SMOKY-BLACK: #0D090A
    RAISIN-BLACK: #361F27
    SNOW: #FBFBF9
    EGGSHELL : #F0EBD8
    */
}
.culoare-footer{
    color:#F0EBD8;
    background-color: #001049;
    margin-top: 70px;
}
.margin-responsive
{

}
@media screen and (max-width: 1000px) {
    .margin-responsive
    {
    margin-top: 110px;
    }
  
  }
  