<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top navigare">
    <div class="container">
        <a class="navbar-brand" href="#" style="font-size: 40px">DB <span class="w3-animate-left">Connect</span></a>

        <div class="nav-list " id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/statistics" routerLinkActive="active">Statistics</a>
                </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
              </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container margin-responsive" >
  <router-outlet></router-outlet>
</div>

<footer id="f" class="culoare-footer">
  <div class="py-5  dark text-center">
        © 2018 Copyright: DBConnect.com
    </div>
</footer>
