<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!--/*@thymesVar id="accept" type="String"*/-->
<!--/*@thymesVar id="text1" type="String"*/-->
<!--/*@thymesVar id="text2" type="String"*/-->
<!--/*@thymesVar id="text3" type="String"*/-->

<strong th:text="${text1}"></strong>
<p></p>
<p th:text="${text2}"></p>
<p></p>
<!--/*@thymesVar id="format" type="String"*/-->
<strong th:text="${format}"></strong>
<!--/*@thymesVar id="exemplu" type="String"*/-->
<p th:text="${exemplu}"></p>
<p></p>
<!--/*@thymesVar id="exempluBold" type="String"*/-->
<strong th:text="${exempluBold}"></strong>
<p></p>

<p>Va multumim,</p>
<p>Echipa Connect</p>
<img src='https://static-s.aa-cdn.net/img/gp/20600001518112/HYESs4NWEr7lZMLkcR6-JGodfUMG8JCLq0jq0bemmJVYXvsviFDSCBgGey8ieWEy_JY=w300'>
</body>
</html>