<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
    <!--/*@thymesVar id="accept" type="String"*/-->
    <!--/*@thymesVar id="text" type="String"*/-->
    <p></p>
    <strong th:text="${accept}"></strong>
    <p></p>
    <p th:text="${text}"></p>
    <p></p>
    <p>Va multumim,</p>
    <p>Echipa Connect</p>
    <img src='https://static-s.aa-cdn.net/img/gp/20600001518112/HYESs4NWEr7lZMLkcR6-JGodfUMG8JCLq0jq0bemmJVYXvsviFDSCBgGey8ieWEy_JY=w300'>
</body>
</html>