<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<!--/*@thymesVar id="text1" type="String"*/-->
<!--/*@thymesVar id="ora_start" type="String"*/-->
<!--/*@thymesVar id="ora_end" type="String"*/-->
<!--/*@thymesVar id="data" type="String"*/-->
<!--/*@thymesVar id="token" type="String"*/-->
<strong th:text="${text1}"></strong>
<p></p>
<span>Va asteptam pe data de </span>
<strong th:text="${data}"></strong>
<span> la orele </span>
<strong th:text="${ora_start}"></strong>
<span>-</span>
<strong th:text="${ora_end}"></strong>
<p></p>
<p>Codul dumneavoastra unic este : </p>
<strong th:text="${token}"></strong>
<p></p>
<p>Va multumim,</p>
<p>Echipa Connect</p>
<img src='https://static-s.aa-cdn.net/img/gp/20600001518112/HYESs4NWEr7lZMLkcR6-JGodfUMG8JCLq0jq0bemmJVYXvsviFDSCBgGey8ieWEy_JY=w300'>
</body>
</html>