html, body {
    margin:0;
    padding:0;
    height:100%;
    weight: 100%;
    min-height:100%;
  }
  
  .tutorial__instr{
    margin: 0px 0px 50px 0px;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid #000000;
    font-family: 'Verdana';
    font-size: 20px;
  
  }
  
  .tutorial__steps{
    margin: 0px;
  }
  
  .title__tutorial{
    line-height: 25px;
    font-size: 20px;
    font-family: 'Verdana';
    text-transform: uppercase;
    margin: 125px 0px 20px 0px;
    border-radius: 30px 30px 30px 30px;
    -moz-border-radius: 30px 30px 30px 30px;
    -webkit-border-radius: 30px 30px 30px 30px;
    border: 2px solid #000000;
  
  }
  
  h4{
  font-family: 'Verdana';
  font-size: 20px;
  
  }
  
  h2{
    text-transform: uppercase;
    font-family: 'Megrim', cursive;
    letter-spacing: 3px;
     -webkit-text-stroke: 0.3px black;
  }
  
  img{
    border:1px solid #021a40;
    background-color:#004883;
    border-radius: 2px;
    position: relative;
    margin: 0 0 2rem 0;
    display: table;
    margin-left: -1rem;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1rem);
  }
  
  .seat__pos{
    display: flex;
    justify-content: space-between;
    margin: 50px 50px 0px 50px;
    font-family: 'Verdana';
    font-size: 20px;
    color: black;
  }
  
  li{
    padding-bottom: 20px;
  }
  
  img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
  
  
  