<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/html" href="/node_modules/ngx-popups/style.css">
</head>
<body>
<ngx-alerts class="error-message"></ngx-alerts>
  <div class="main-container">
  <div class="buttons-and-drop-down-lists">
  <div class="drop-down-list-container">
    <div class="single-drop-down-div">
        <div class="btn-group" dropdown>
            <select #dateStatisticsItem1  dropdownToggle class="btn btn-primary dd-style">
              <option class="dropdown-item" value="month"> Months</option>
              <option class="dropdown-item" value="day"> Days of week</option>
              <option class="dropdown-item" value="part"> Part of day</option>
             </select>
    </div>
  </div>
  <div class="single-drop-down-div">
      <div class="btn-group" dropdown>
          <select #dateStatisticsItem2  dropdownToggle class="btn btn-primary dd-style">
            <option class="dropdown-item" value="nohours"> The average of hours occupied</option>
            <option class="dropdown-item" value="popular"> Most popular hour</option>
            <option class="dropdown-item" value="least"> Least busy hour</option>
            <option class="dropdown-item" value="noevents"> Number of events</option>
          </select>
    </div>
  </div>
  <div class="single-drop-down-div">
      <div class="btn-group" dropdown>
          <select #dateStatisticsItem3 dropdownToggle class="btn btn-primary dd-style">
            <option class="dropdown-item" value="agile"> Agile</option>
            <option class="dropdown-item" value="waterfall"> Waterfall</option>
            <option class="dropdown-item" value="both"> Agile & Waterfall</option>
           </select>
    </div>
  </div>
  </div>
  <div>
    <button id="btn-GenerateGraph" type="button" class="btn btn-primary dd-style"
            (click)='msg(dateStatisticsItem1.value+"-"+dateStatisticsItem2.value+"-"+dateStatisticsItem3.value)'>
      GENERATE
    </button>
</div>
</div>
  <div class="fusioncharts-container-div">
    <div class="grafic" *ngIf="display">
      <fusioncharts
        [id]="id"
        [width]="width"
        [height]="height"
        [type]="type"
        [dataFormat]="dataFormat"
        [dataSource]=dataSource
        [class]="fusioncharts-container"
      ></fusioncharts>
    </div>
    <div class="gif" *ngIf="!display">
      <img src='../../assets/img/Chart.gif'>
    </div>
  </div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
<script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="node_modules/chart.js/src/chart.js"></script>
</html>
