.fusioncharts-container-div {
  display: flex;
  justify-content: center;
  width: 70%;
  margin-top: 50px;
}

.drop-down-list-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.single-drop-down-div {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 140px;
  margin-bottom: 110px;
}

.error-message {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  margin-top: -20px;
}

.buttons-and-drop-down-lists {
  display: flex;
  align-items: center;
}

.dropdown-item{
  background-color: white;
  border: 1px solid #9b9b9b;
  border-radius: 50px;
  color: black;
}

.dd-style {
  border: 1px solid #9b9b9b;
  border-radius: 20px;
  margin-left: 20px;
  background-color: rgb(52, 122, 180);
}

button.dd-style {
  background-color: #027bce;
}

#btn-GenerateGraph {
  margin-left: 60px;
}

.loading-spinner {
  margin-top: 100px;
}





